.page-header {
    position: fixed;
    width: 100%;
    padding: .5em;
    z-index: 2;
    background: transparent;
    transition: all .4s ease-in-out;

    .header-logo {
        width: 2.2rem;
        opacity: 0;
        transition: all .2s ease-in-out;

        @media screen and (min-width: $tablet) {
            width: 3rem;
        }
    }

    &.scrolled {
        background: #eee;

        .nav-open-button {
            color: #444;
            border: #444 solid .2em;

            &:hover,
            &:focus,
            &:active {
                background: #444;
                color: #eee;
            }
        }

        .header-logo {
            opacity: 1;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem;
    }
}

.nav-open-button,
.nav-close-button {
    font-size: 1rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    margin-bottom: 0;

    i {
        margin-left: .2em;
    }

    @media screen and (min-width: $mobile) {
        font-size: 1.3rem;
        padding: .7rem 1.2rem;
    }

    @media screen and (min-width: $tablet) {
        font-size: 1.5rem;
        padding: .7rem 1.2rem;
    }

}